numpy
matplotlib
scipy
sndfile
librosa
tensorflow
keras
scikit-image
midi_manipulation
glob
tqdm
music21
sklearn
mpl_toolkits
IPython
athenaCL
pandas
os
pretty_midi
torch
lws
wavenet_vocoder
Tacotron-2
vmo
msgpack
glob
containers
events